.sales-container {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 70%;
  position: relative;
  }
  
  .sales-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .sales-table {
    width: auto;
    min-width: 50%;
    max-width: 50%;
    border-collapse: collapse;
  }
  
  .sales-table th, .sales-table td {
    padding: 8px;
    text-align: left;
  }
  
  .sales-table th {
    background-color: #007bff;
    color: white;
  }
  
  .total-sales {
    margin-top: 10px;
    font-weight: bold;
  }
  