/* EditarProducto.css */

.ProductoContainer {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.BackButtonContainer {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormGroup {
  margin-bottom: 15px;
}

.FormLabel {
  font-weight: bold;
}

.FormInput,
.FormSelect {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.FormButton {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Color verde */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.FormButton:hover {
  background-color: #218838;
  
  
}

.ArrowIcon {
  font-size: 20px;
  vertical-align: middle;
}
