.sidebar-container {
  
  width: 250px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  transition: width 0.3s ease; /* Añadido para la transición del ancho */
  z-index: 1000;
}


/* Agrega una clase para el sidebar colapsado */
.sidebar-container.collapsed {
  width: 60px; /* Ancho reducido */
  padding-top: 20px; /* Ajuste de espaciado */
}

.sidebar-group {
  width: 100%;
  margin-top: 20px;
}

.sidebar-group-title {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: width 0.3s ease; /* Añadido para la transición del ancho */
}

/* Agrega estilos para el título del grupo colapsado */
.sidebar-group-title.collapsed {
  width: 0; /* Ancho reducido */
  overflow: hidden; /* Oculta el contenido cuando está colapsado */
}

.sidebar-option {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border-radius: 8px;
}

.sidebar-option:hover {
  background-color: #f0f0f0;
}

.sidebar-option.active {
  background-color: #f0f0f0;
  color: #007bff;
  font-weight: bold;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: -20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-toggle:hover {
  color: #007bff;
  transform: scale(1.1);
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.Btn.visible {
  display: flex; /* Muestra el botón cuando está expandido */
}

.Btn.hidden {
  display: none; /* Oculta el botón cuando está colapsado */
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 13.8px;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
  background-color: rgb(255, 65, 65);
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  margin-left: -10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}


.sidebar-container.collapsed {
  width: 50px; /* Ancho reducido */
}

.sidebar-group-title {
  display: flex;
  align-items: left;
  justify-content: left;
  cursor: pointer;
}

.sidebar-group-title svg {
  margin-right: 10px;
}