:root {
  --br-color-primary: #cf8e14; 
}


.state-login {
    height: 100vh;
    display: flex;
    background: var(--br-color-primary);
    color: var(--br-color-white);
}

.state-login__left {
    align-content: center;
    padding: 0px 10%;
}

.state-login__right {
    background: center / contain no-repeat url("https://www.shutterstock.com/image-photo/all-fast-food-collection-set-600nw-2353214487.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
