.container{
    height: 300px;
    display: grid;
    place-items: center;
}

button{
    margin-top: 2%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgb(42, 165, 99);
    color: white;
    cursor: pointer;
    width: 200px;
}
button:hover{
    background-color: rgb(32, 126, 76);
}

#btnSalir{
    margin-top: 2%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: rgb(163, 49, 37);
    color: white;
    cursor: pointer;
}
#btnSalir:hover{
    background-color: rgb(132, 40, 30);
}