

.login-background {
  position: fixed; /* Fija el fondo para que abarque toda la página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f2937; /* Color de fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #D1D5DB; 
  box-shadow: 6px 6px 14px #9CA3AF, -6px -6px 14px #9CA3AF; 
  border-radius: 10px;
  border: 2px solid #1F2937; /* Borde azul oscuro */
}

.login {
  color: #1F2937; /* Texto azul oscuro */
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
  border: none;
  color: #1F2937; /* Texto azul oscuro */
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #1F2937; /* Borde izquierdo azul oscuro */
  border-bottom: 2px solid #1F2937; /* Borde inferior azul oscuro */
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #1F2937; /* Texto azul oscuro */
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #1F2937; /* Fondo azul oscuro */
  letter-spacing: 0.2em;
  color: #FFFFFF; /* Texto blanco */
  border: 2px solid #1F2937; /* Borde azul oscuro */
}

.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #1F2937; /* Borde azul oscuro */
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #1F2937; /* Borde azul oscuro */
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 70px;
  align-self: center;
}

.enter:hover {
  background-color: #1F2937; /* Fondo azul oscuro */
  color: #FFFFFF; /* Texto blanco */
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: center;
}

.success-message {
  color: green;
  margin-top: 5px;
  text-align: center;
}
