body{
    background: rgb(2,0,36);
    background-image: url("src/components/back.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}