body {

    background-image: url('./images/fondo.jpg'); 
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    height: 100vh;  
    margin: 0;  
    padding: 0; 
    position: relative;
}